
<div class="container">
  <h1>Chat with your awesome coach</h1>
  <form action="/answer" data-turbo="false">
    <input type="text" name="user_answer">
    <input type="submit" value="Ask!">
  </form>
</div>
